.g3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  box-shadow: 10px 10px #000000;

}

.g3:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


p {
  font-family: helvetica;
  font-size: 20px;
  /* text-align: left; */
  /* margin-left: 300px;
  margin-right: 300px; */
  /* padding: 50px; */
  line-height: 140%

}


h2 {
  font-family: futura;
  font-size: 25;
  text-align: center;
  font-size: 50px;
  letter-spacing: -1px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.text1{
  margin-left: 450px;
  display: inline-block;
  max-width: 40%
}

.text2{
  margin-left: 300px;
  display: inline-block;
  max-width: 40%
}

.text3{
  margin-left: 340px;
  display: inline-block;
  max-width: 40%
}

.text4{
  margin-left: 400px;
  display: inline-block;
  max-width: 40%
}

.text5{
  margin-left: 500px;
  display: inline-block;
  max-width: 40%
}
