.title{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
  height: 300px;
}


h1{
  font-family: helvetica;
  text-align: center;
  font-size: 85px;
  margin-top: -20px;
}

.flower{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 40%;
  height: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2{
  margin-top: 50px;
  text-align: center;
  font-family: helvetica;
  font-size: 40px;
  letter-spacing: -1px;
  text-decoration: underline;
}

body{
  background: url(https://user-images.githubusercontent.com/66208399/83361468-73fc8f00-a389-11ea-9f5f-4eb0790c3ca9.jpg)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

p{
  font-family: futura;
  font-size: 50px;
  color:black;
  text-align: center;

}

.submit{
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
}
