body{
  /* background: yellow; */
  background: url(img src = "https://user-images.githubusercontent.com/66208399/83353996-ab9e1380-a356-11ea-94b5-92dae8b0a3b9.jpg")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: yellow;

}

p{
  font-family: futura;
  font-size: 50px;
  color:black;
  text-align: center;

}

img{
  width: 50%;
  height: 50%;

}
